@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);





















#ext_menu-3 .navbar-toggler {
  color: #000;
}
#msg-box5-2 .mbr-section-title {
  color: #ffffff;
  text-align: left;
  font-family: 'Roboto', sans-serif;
}
#msg-box5-2 .mbr-section-title B {
  color: #ffffff;
  font-family: 'Noto Sans', sans-serif;
}
#content5-8 .mbr-section-title {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
}
#content5-8 P {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-size: 24px;
}
#content4-4 H4 {
  font-family: 'Noto Sans', sans-serif;
  color: #d40000;
}
#content4-4 P {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
}
#content5-a P {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
}
#content5-c .mbr-section-title {
  text-align: center;
  color: #fffa47;
  font-family: 'Noto Sans', sans-serif;
}
#content5-c P {
  text-align: center;
  color: #ffffff;
  font-family: 'Noto Sans', sans-serif;
  font-size: 30px;
}
#msg-box4-b .lead P {
  text-align: left;
  color: #ffffff;
  font-family: 'Noto Sans', sans-serif;
}
#content5-d .mbr-section-title {
  text-align: center;
  color: #d40000;
  font-family: 'Noto Sans', sans-serif;
}
#msg-box4-e .mbr-section-title {
  font-family: 'Noto Sans', sans-serif;
  color: #d40000;
  text-align: left;
}
#msg-box4-e .lead P {
  text-align: left;
}
#msg-box4-f .mbr-section-title {
  font-family: 'Noto Sans', sans-serif;
  color: #d40000;
  text-align: left;
}
#msg-box4-f .lead P {
  text-align: left;
}
#msg-box4-g .mbr-section-title {
  font-family: 'Noto Sans', sans-serif;
  color: #d40000;
  text-align: left;
}
#msg-box4-g .lead P {
  text-align: left;
}
#content5-h .mbr-section-title {
  color: #fffa47;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
}
#msg-box4-i .lead P {
  text-align: left;
  color: #ffffff;
  font-family: 'Noto Sans', sans-serif;
  font-size: 24px;
}
#msg-box4-i .btn {
  font-family: 'Noto Sans', sans-serif;
}
#content5-j .mbr-section-title {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
}
#content5-j P {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-size: 24px;
}
#form1-k .mbr-section-title {
  font-family: 'Noto Sans', sans-serif;
  font-size: 48px;
  color: #ffffff;
}
#content5-l P {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-size: 12px;
}






#ext_menu-m .navbar-toggler {
  color: #000;
}
#header1-n H1 {
  text-align: right;
  font-family: 'Noto Sans', sans-serif;
  color: #d40000;
}
#content5-o .mbr-section-title {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
}
#content4-p P {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
}
#content4-p H4 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 30px;
}
#content4-p B {
  color: #ff7522;
}
#content5-r .mbr-section-title {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-size: 46px;
  color: #ff7522;
}
#content5-r .mbr-section-title B {
  font-size: 36px;
}
#content5-r P {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
}
